@import "https://cdn.jsdelivr.net/npm/95css@latest/css/95css.min.css";

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: "w95fa";
  src: url("../fonts/w95fa.woff2") format("woff2"), url("../fonts/w95fa.woff") format("woff"), url("../fonts/w95fa.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
    
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-teal);
  color: var(--color-black);
  font-family: "w95fa";
  font-size: 18px;
  line-height: 20px;
}

* {
  --spacing-base: 4px;
  --spacing-1: calc(var(--spacing-base) * .5);
  --spacing-2: calc(var(--spacing-base));
  --spacing-3: calc(var(--spacing-base) * 2);
  --spacing-4: calc(var(--spacing-base) * 3);
  --spacing-5: calc(var(--spacing-base) * 4);
  --spacing-6: calc(var(--spacing-base) * 8);
  --spacing-7: calc(var(--spacing-base) * 10);
  --spacing-8: calc(var(--spacing-base) * 16);
  --spacing-9: calc(var(--spacing-base) * 20);
  --spacing-10: calc(var(--spacing-base) * 30);
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray-100: #DEDEDE;
  --color-gray-200: #C3C3C3;
  --color-gray-300: #808080;
  --color-blue: #0F0086;
  --color-teal: #008080;
  --color-yellow: #FFFF00;
  --color-red: #800000;
  --shadow-inner-1: inset -2px -2px 0 var(--color-white),
                      inset 2px 2px 0 var(--color-gray-300);
  --shadow-inner-2: inset -2px -2px 0 var(--color-white),
                      inset 2px 2px 0 var(--color-gray-300),
                      inset -4px -4px 0 var(--color-gray-300),
                      inset 4px 4px 0 var(--color-white);
  --shadow-inner-3: inset -2px -2px 0 var(--color-white),
                      inset 2px 2px 0 var(--color-black),
                      inset -4px -4px 0 var(--color-gray-100),
                      inset 4px 4px 0 var(--color-gray-300);
  --shadow-inner-4: inset -2px -2px 0 var(--color-white),
                      inset 2px 2px 0 var(--color-gray-300),
                      inset -4px -4px 0 var(--color-gray-200),
                      inset 4px 4px 0 var(--color-black);
  --shadow-outer-1: inset -2px -2px 0 var(--color-black),
                      inset 2px 2px 0 var(--color-white),
                      inset -4px -4px 0 var(--color-gray-300),
                      inset 4px 4px 0 var(--color-gray-100);
  --shadow-outer-2: inset 2px 2px 0 var(--color-black),
                      inset -4px -4px 0 var(--color-black),
                      inset 4px 4px 0 var(--color-white),
                      inset -6px -6px 0 var(--color-gray-300),
                      inset 6px 6px 0 var(--color-gray-100);
  --shadow-outer-3: inset -2px -2px 0 var(--color-black),
                      inset 2px 2px 0 var(--color-gray-100),
                      inset -4px -4px 0 var(--color-gray-300),
                      inset 4px 4px 0 var(--color-white);
  --shadow-outer-4: inset -2px -2px 0 var(--color-black),
                      inset 2px 2px 0 var(--color-white),
                      inset -4px -4px 0 var(--color-gray-300);
  --shadow-outer-5: inset -2px 0 0 var(--color-black),
                      inset 2px 0 0 var(--color-white),
                      inset -4px 0 0 var(--color-gray-300);
  --shadow-outer-6: inset 2px -2px 0 var(--color-white),
                      inset -2px 0 0 var(--color-black),
                      inset -4px 0 0 var(--color-gray-300);
  --shadow-outer-7: 1.28px 1.28px 0 var(--color-white);
  --shadow-text-disabled: var(--shadow-outer-7);
  --shadow-input: var(--shadow-inner-4);
  --shadow-dialog: var(--shadow-outer-3);
  --shadow-progress-bar: var(--shadow-inner-1);
  --shadow-fieldset: var(--shadow-inner-2);
  --shadow-default-button-default: var(--shadow-outer-1);
  --shadow-default-button-highlighted: var(--shadow-outer-2);
  --shadow-default-button-active: var(--shadow-inner-3);
  --shadow-default-button-focused: var(--shadow-outer-2);
  --shadow-default-button-disabled: var(--shadow-outer-1);
  --shadow-action-button-default: var(--shadow-outer-3);
  --shadow-action-button-active: var(--shadow-inner-3);
  --shadow-action-button-focused: var(--shadow-outer-2);
  --shadow-action-button-disabled: var(--shadow-outer-2);
  --shadow-icon-button-default: var(--shadow-outer-4);
  --shadow-icon-button-active: var(--shadow-inner-3);
  --shadow-icon-button-focused: var(--shadow-outer-4);
  --shadow-icon-button-disabled: var(--shadow-outer-4);
  --shadow-input: var(--shadow-inner-4);
}

  ::-moz-selection { /* Code for Firefox */
  color: var(--color-white);
  background: var(--color-blue);
}

input:not([type=range]):not([type=checkbox]):not([type=radio]) {
  box-shadow: var(--shadow-input);
  background-color: var(--color-white);
  border: none;
  height: 40px;
  width: 100%;
  padding: 8px 10px 4px;
}
input:not([type=range]):not([type=checkbox]):not([type=radio]):focus {
  outline: none;
}
input:not([type=range]):not([type=checkbox]):not([type=radio]):disabled, input:not([type=range]):not([type=checkbox]):not([type=radio]).is-disabled {
  background-color: var(--color-gray-200);
  color: var(--color-gray-300);
}
/*width utility*/

.w-full {
    width: 100%;
}
.w-1\/2 {
    width: 50%;
}
.w-1\/3 {
    width: 33.3333%;
}
.w-1\/4 {
    width: 25%;
}
.w-1\/5 {
    width: 20%;
}
.w-1\/6 {
    width: 16.6667%;
}
.login_body {
    padding: var(--spacing-10);
}
.toolbar {
    display: flex;
    gap: var(--spacing-5);
    .btn-group {
        display: flex;
        gap: 0;
    }
}

header {
    background-color: var(--color-gray-200);
    box-shadow: var(--shadow-outer-4);
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
    padding: var(--spacing-3);
}

header nav a,
.nav-item,
.logo {
  color: var(--color-black);
  text-decoration: none;
  background-color: var(--color-gray-200);
  box-shadow: var(--shadow-outer-4);
  position: relative;
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  min-width: 160px;
}

header nav a:active, header nav a.is-active,
.nav-item:active,
.nav-item.is-active,
.logo:active,
.logo.is-active {
  box-shadow: var(--shadow-inner-3);
  background-color: var(--color-white);
  background-image: repeating-linear-gradient(45deg, var(--color-gray-100) 25%, transparent 25%, transparent 75%, var(--color-gray-100) 75%, var(--color-gray-100)), repeating-linear-gradient(45deg, var(--color-gray-100) 25%, var(--color-white) 25%, var(--color-white) 75%, var(--color-gray-100) 75%, var(--color-gray-100));
  background-position: 0 0, 3px 3px;
  background-size: 6px 6px;
}

.logo {
  min-width: 0;
}
@mixin checkered-bg {
    background-image:  repeating-linear-gradient(45deg, var(--color-gray-100) 25%, transparent 25%, transparent 75%, var(--color-gray-100) 75%, var(--color-gray-100)), repeating-linear-gradient(45deg, var(--color-gray-100) 25%, var(--color-white) 25%, var(--color-white) 75%, var(--color-gray-100) 75%, var(--color-gray-100));
    background-position: 0 0, 3px 3px;
    background-size: 6px 6px;
}
.taskbar {
    display: flex;

}
.taskbar #time_item {
    margin-left: 1250px;
} 

.desktop_icons {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
}
#start_emilia:hover, #start_lisa:hover, #start_robin:hover {
    cursor: pointer;
}

/*#dialog_emilia, #dialog_lisa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.m-10 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}*/

.dialog_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



dialog.is-lg,    
.dialog.is-lg {
  min-width: 500px;
  min-height: 300px;
  flex: 0 0 25em;
}

#demo {
  max-width: 100%;
}

#dialog_robin, #container_robin {
  width : 1000px;
  height: 600px;
}
